.secretPage {
    max-width: 600px;
    margin: 0 auto;
    transition: background-color 0.5s ease;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eastereggButton {
    padding: 8px 12px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.bookAnimation {
    width: 300px;
    height: 160px;
    background-image: url('https://i.imgur.com/5cxKd2z.png');
    background-size: cover;
    animation: bookAnimation 2s infinite alternate;
}

@keyframes bookAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}
